In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

In [4]:
df=pd.read_csv('../result_data/split_city.csv',encoding='utf8')
df.head()

,Recv_Dept Nm,도,시,Recv_Cplt_Dm,Npa_Cl,Evt_CL_CD,Evt_Stat_Cd,Hppn_X,Hppn_Y,Rpter_Sex,Sme_Evt_Yn
0,충남청,충청남도,아산시,2021-05-03,19,501,10,127.092762,36.781250,2,Y
1,대전청,대전광역시,유성구,2021-05-03,13,601,10,127.305689,36.332023,3,Y
2,대전청,대전광역시,유성구,2021-04-27,13,201,10,127.339578,36.347469,1,Y
3,충남청,충청남도,보령시,2021-05-01,19,201,10,126.534663,36.242860,3,Y
4,충남청,[공중전화],충청남도,2021-05-01,19,601,10,126.692715,36.168714,3,Y

### 월별 사건 사고 수 집계
### Recv Cplt Dm 의 값이 str 이라서 DataFrame.timestamp로 변형

In [5]:
df['Recv_Cplt_Dm'] = pd.to_datetime(df['Recv_Cplt_Dm'], format='%Y-%m-%d')
df.dtypes

Recv_Dept Nm            object
도                       object
시                       object
Recv_Cplt_Dm    datetime64[ns]
Npa_Cl                   int64
Evt_CL_CD                int64
Evt_Stat_Cd              int64
Hppn_X                 float64
Hppn_Y                 float64
Rpter_Sex                int64
Sme_Evt_Yn              object
dtype: object

### 월별 401~406 Dataframe 분류

In [6]:
df_transportation=df[(df['Evt_CL_CD']>400) & (df['Evt_CL_CD']<407)]

### 월별 401~406 각각 사건 수

In [7]:
df_time_countof=df_transportation.groupby(df_transportation.Recv_Cplt_Dm.dt.time)['Evt_CL_CD'].value_counts()

In [9]:
df_time_countof.head()

Recv_Cplt_Dm  Evt_CL_CD
00:00:00      401          37322
              406          15787
              402           9316
              403           5872
              404             10
Name: Evt_CL_CD, dtype: int64