In [38]:
import pandas as pd
import numpy as np
%matplotlib inline

In [39]:
# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

In [44]:
df=pd.read_csv('../result_data/split_city_split_city.csv',encoding='utf8')
df=df.drop(['F1'],axis=1)
df.head()

,Recv Cplt Dm,Recv Dept Nm,Sme Evt Yn,도,시,Evt Cl Cd,Evt Stat Cd,Hppn X,Hppn Y,Npa Cl,Rpter Sex
0,2021-05-03,충남청,Y,충청남도,아산시,501,10,127.092762,36.781250,19,2
1,2021-05-03,대전청,Y,대전광역시,유성구,601,10,127.305689,36.332023,13,3
2,2021-04-27,대전청,Y,대전광역시,유성구,201,10,127.339578,36.347469,13,1
3,2021-05-01,충남청,Y,충청남도,보령시,201,10,126.534663,36.242860,19,3
4,2021-05-01,충남청,Y,[공중전화],충청남도,601,10,126.692715,36.168714,19,3

월별 사건 사고 수 집계

Recv Cplt Dm 의 값이 str 이라서 DataFrame.timestamp로 변형

In [45]:
df['Recv_Cplt_Dm'] = pd.to_datetime(df['Recv Cplt Dm'], format='%Y-%m-%d')
df.dtypes

Recv Cplt Dm            object
Recv Dept Nm            object
Sme Evt Yn              object
도                       object
시                       object
Evt Cl Cd                int64
Evt Stat Cd              int64
Hppn X                 float64
Hppn Y                 float64
Npa Cl                   int64
Rpter Sex                int64
Recv_Cplt_Dm    datetime64[ns]
dtype: object

In [48]:
df_1month=df.groupby(df.Recv_Cplt_Dm.dt.month)['Evt Stat Cd'].value_counts()

In [49]:
df_1month.head()

Recv_Cplt_Dm  Evt Stat Cd
1             10             36745
              5                219
              7                 21
              9                 21
              3                  5
Name: Evt Stat Cd, dtype: int64