In [57]:
import pandas as pd
import numpy as np
%matplotlib inline

In [58]:
# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

In [60]:
df=pd.read_csv('../result_data/split_city.csv',encoding='utf8')
df.head()

,Recv_Dept Nm,도,시,Recv_Cplt_Dm,Npa_Cl,Evt_CL_CD,Evt_Stat_Cd,Hppn_X,Hppn_Y,Rpter_Sex,Sme_Evt_Yn
0,충남청,충청남도,아산시,2021-05-03,19,501,10,127.092762,36.781250,2,Y
1,대전청,대전광역시,유성구,2021-05-03,13,601,10,127.305689,36.332023,3,Y
2,대전청,대전광역시,유성구,2021-04-27,13,201,10,127.339578,36.347469,1,Y
3,충남청,충청남도,보령시,2021-05-01,19,201,10,126.534663,36.242860,3,Y
4,충남청,[공중전화],충청남도,2021-05-01,19,601,10,126.692715,36.168714,3,Y

###월별 사건 사고 수 집계

###Recv Cplt Dm 의 값이 str 이라서 DataFrame.timestamp로 변형

In [62]:
df['Recv_Cplt_Dm'] = pd.to_datetime(df['Recv_Cplt_Dm'], format='%Y-%m-%d')
df.dtypes

Recv_Dept Nm            object
도                       object
시                       object
Recv_Cplt_Dm    datetime64[ns]
Npa_Cl                   int64
Evt_CL_CD                int64
Evt_Stat_Cd              int64
Hppn_X                 float64
Hppn_Y                 float64
Rpter_Sex                int64
Sme_Evt_Yn              object
dtype: object

###월별 401~406 Dataframe 분류

In [74]:
df_transportation=df[(df['Evt_CL_CD']>400) & (df['Evt_CL_CD']<407)]

### 월별 401~406 각각 사건 수

In [75]:
df_month_countof=df_transportation.groupby(df_transportation.Recv_Cplt_Dm.dt.month)['Evt_CL_CD'].value_counts()

In [76]:
df_month_countof

Recv_Cplt_Dm  Evt_CL_CD
1             401          3202
              406          1098
              402           738
              403           401
              405             3
2             401          2149
              406           740
              402           463
              403           260
3             401          2401
              406          1027
              402           550
              403           394
              405             1
4             401          2626
              406          1111
              402           578
              403           428
              404             1
5             401          3104
              406          1503
              402           670
              403           553
6             401          2869
              406          1388
              402           760
              403           535
              404             1
              405             1
7             401          3050
              406          1391
              402           766
              403           537
8             401          2991
              406          1433
              402           943
              403           540
9             401          3259
              406          1588
              402           894
              403           683
10            401          3454
              406          1523
              402           790
              403           543
11            401          3618
              406          1379
              402           951
              403           564
              404             2
12            401          4599
              406          1606
              402          1213
              403           434
              404             6
Name: Evt_CL_CD, dtype: int64

###월별 교통사고 수 합계

In [92]:
df_month_count_sum=df_transportation.groupby(df_transportation.Recv_Cplt_Dm.dt.month)['Evt_CL_CD'].count().to_frame()

In [93]:
display(df_month_count_sum)

              Evt_CL_CD
Recv_Cplt_Dm
1                  5442
2                  3612
3                  4373
4                  4744
5                  5830
6                  5554
7                  5744
8                  5907
9                  6424
10                 6310
11                 6514
12                 7858